<div class="modal-container">
    <div class="modal">
        <div class="modal-button">
            <button (click)="onClose()">X</button>
        </div>
        <h1 class="modal-title">Add a new Employee</h1>

        <div class="modal-form">
            <div>
                <label for="nameField">Name: </label>
                <input class="name-input" type="text" id="nameField" formControlName="requiredField">
            </div>
            <div>
                <label for="emailField">Email: </label>
                <input class="email-input" type="text" id="emailField" formControlName="requiredField">
            </div>

            <div class="phone-input">
                <label for="phonePart1">Phone Number: </label>
                <input type="text" id="phonePart1" maxlength="3">
                <span>-</span>
                <input type="text" id="phonePart2" maxlength="3">
                <span>-</span>
                <input type="text" id="phonePart3" maxlength="4">
            </div>
            <div class="address-input">
                <label for="address1">Address 1: </label>
                <input type="text" id="address1" formControlName="nonRequiredField">
            </div>
            <div class="address-input">
                <label for="address2">Address 2: </label>
                <input type="text" id="address2" formControlName="nonRequiredField">
            </div>
            <div>
                <label for="city">City: </label>
                <input class="city-input" type="text" id="city" formControlName="nonRequiredField">
                <label for="state">State: </label>
                <input class="state-input" type="text" id="state" formControlName="nonRequiredField">
                <label for="zipcode">Zipcode: </label>
                <input class="zipcode-input" type="text" id="zipcode" formControlName="nonRequiredField">
            </div>
        </div>
        <div class="modal-button">
            <button (click)="onClose()">Add</button>
        </div>
    </div>
</div>